html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-white:#fff;
  --color-defolt:#ff9900;
  --color-active: #e1670e;
}

img {
  width: 100%;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-white);
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s linear;
}

a:focus-visible {
  outline: 2px solid var(--color-defolt);
  outline-offset: 5px;
}

/*glob*/

.flex {
  display: flex;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  transition: background 0.3s ease;
}

.btn:focus,
.btn:hover {
  border: none;
  outline: none;
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: var(--color-active);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*header*/

.header {
  position: relative;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header__content {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 75px;
  padding-right: 75px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__burger {
  display: none;
  background-image: url(../img/burger.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__burger:focus-visible {
  outline: 1px solid var(--color-defolt);
  outline-offset: 2px;
}

.header__burger:active {
  background-image: url(../img/burger-active.svg);
}

.header__menu-mobile {
  display: none;

  position: absolute;
  z-index: 4;
  top:0;
  left: 0;
  width: 420px;
  height: 768px;
  padding: 40px 50px;

  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);

  transition: transform .3s ease-in-out;
  transform: translateX(-101%);
}

.header__burger--close {
  width: 23px;
  height: 23px;
  margin-bottom: 93px;
  transition: transform 0.3s ease-in-out;
}

.header__burger--close:active {
  transform: rotate(-45deg);
}

.header__list-moble {
  padding-left: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333;
}

.header__item-moble:not(:last-child) {
  margin-bottom: 77px;
}

.header__link {
  max-width: 224px;
  max-height: 72px;
  margin-right: auto;
}

.header__nav {
  max-width: 708px;
  width: 100%;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
  margin-right: 85px;
}

.header__list {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333;
}

.header__item:not(:last-child) {
  margin-right: auto;
}

.header__item-link {
  transition: border-color .2s linear;
}

.header__item-link:hover {
  border-bottom: 2px solid var(--color-defolt);
}

.header__item-link:active {
  color: var(--color-active);
  border-bottom: 2px solid var(--color-active);
}

.header__button-search {
  width: 24px;
  height: 24px;
  transition: color .2s linear;
}

.header__button-search.search-active {
  display: none;
}

.header__search-wrap.search-active {
  display: flex;

  position: absolute;
  top: 20px;
  right: 46.5px;
  width: 539px;
  height: 60px;

  padding-left: 32px;
  align-items: center;

  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.header__search-wrap {
  display: none;
}

.header__input-search {
  width: 412px;
  margin-right: 14px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  border: none;
  border-bottom: 1px solid #DCDCDC;
}

.header__input-search:focus {
  outline: none;
}

.header__search-close {
  width: 24px;
  height: 24px;
}

.header__button-search--active {
  margin-right: 20px;
}

.header__button-search--active svg path {
  stroke: var(--color-defolt);
}

.header__button-search--active svg rect {
  fill: var(--color-defolt);
}

.header__button-search:focus-visible {
  outline: 2px solid var(--color-defolt);
  outline-offset: 2px;
}

.header__button-search svg path {
  transition: stroke 0.2s linear;
}

.header__button-search svg rect {
  transition: fill 0.2s linear;
}

.header__button-search:hover svg path {
  stroke: var(--color-defolt);
}

.header__button-search:hover svg rect {
  fill: var(--color-defolt);
}

.header__search-close:focus {
  outline: 1px solid var(--color-defolt);
}

.header__search-close:hover svg rect {
  fill: var(--color-defolt);
}

.header__search-close:hover svg circle {
  stroke: var(--color-defolt);
}

.header__search-close:active svg rect {
  fill: #333;
}

.header__search-close:active svg circle {
  stroke: #333;
}

/*hero*/

.hero {
  margin-bottom: 100px;
}

.swiper-container {
  position: relative;
  width: 100%;
  min-height: 620px;
  overflow: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /* width: 100%;
  height: 100%;
  box-sizing: content-box; */
}

.swiper-slide {
  /* width: 100%;
  height: 100%; */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__swiper-slide-1 {
  background-image: url(../img/hero-slider-1-1920px.jpg);
}

.hero__swiper-slide-2 {
  background-image: url(../img/hero-slider-2-1920px.jpg);
}

.hero__swiper-slide-3 {
  background-image: url(../img/hero-slider-3-1920px.jpg);
}

.swiper-pagination {
  position: absolute;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
  bottom: 26px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #fff;
}

.hero__content {
  max-width: 973px;
  padding-top: 102px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 88px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.hero__btn {
  width: 280px;
  height: 78px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  background-color:  var(--color-defolt);
  color: var(--color-white);
}

/*about*/

.about {
  margin-bottom: 100px;
}

.about__title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 2px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.about__descr {
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about__content {
  justify-content: space-between;
}

.about__content-left {
  margin-right: 32px;
  align-items: flex-end;
  width: calc((100%-32px)/2);
  min-height: 622px;
  background-image: url(../img/about-left-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.about__content-mobile {
  display: none;
}

.about__content-wrap {
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 196px;
  background: rgba(0, 0, 0, 0.5);
}

.about__left-descr {
  margin: 0;
  margin-right: 20px;
  max-width: 454px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.about__button {
  min-width: 175px;
  min-height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  border: 3px solid var(--color-defolt);
}

.about__button:focus,
.about__button:hover,
.about__button:active {
  border: none;
}

.about__content-right {
  width: calc((100%-32px)/2);
  min-height: 622px;
  flex-direction: column;
  justify-content: space-between;
}

.about__content-right-card {
  align-items: center;
  padding: 65px 60px 65px 60px;
  width: 100%;
  min-height: 295px;
  height: 100%;
  outline: 1px solid #cacaca;
}

.about__content-right-card:not(:last-child) {
  margin-bottom: 32px;
}

.about__img {
  margin-right: 50px;
  max-width: 190px;
  height: 165px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.about__img-top {
  background-image: url(../img/about-top-bg.svg);
}

.about__img-bottom {
  background-image: url(../img/about-bottom-bg.svg);
}

.about__content-wrapper {
  max-width: 460px;
}

.about__right-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.about__right-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

/* stages */

.stages {
  margin-bottom: 100px;
}

.stages__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.stages__list {
  margin-bottom: 45px;
}

.stages__item:not(:last-child) {
  margin-right: 86px;
}

.stages__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: color 0.2s linear;
}

.stages__btn--active{
  color: var(--color-active);
}

.stages__btn:focus-visible {
  outline: 2px solid var(--color-defolt);
  outline-offset: 5px;
}

.stages__btn:hover {
  color: var(--color-defolt);
}

.stages__btn:active {
  color:  var(--color-active);
}

.stages__content {
  display: none;
}

.stages__content--active {
  display: block;
}

.stages__content-wrapper {
  justify-content: space-between;
}

.stages__content-left {
  max-width: 758px;
  width: 100%;
  min-height: 460px;
  margin-right: 142px;
  flex-direction: column;
  justify-content: space-between;
}

.stages__content-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.stages__content-descr {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.stages__content-right {
  position: relative;
  max-width: 870px;
  width: 100%;
  min-height: 470px;
  overflow: hidden;
}


.stages__content-right::before {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.stages__content-right-1::before {
  background-image: url(../img/stages-1-1920px.jpg);
}

.stages__content-right-2::before {
  background-image: url(../img/stages-2-1920px.jpg);
}

.stages__content-right-3::before {
  background-image: url(../img/stages-3-1920px.jpg);
}

.stages__content-right-4::before {
  background-image: url(../img/stages-4-1920px.jpg);
}

.stages__content-btn {
  margin-right: 33px;
  width: 175px;
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-defolt);
  color: var(--color-white);
}

.stages__btn-colorless {
  width: 147px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border: 1px solid #333333;
  transition: color 0.2s linear;
  transition: background .3s ease;
}

.stages__btn-colorless:focus {
border: none;
background-color: #666;
color: var(--color-white);
}

.stages__btn-colorless:hover {
background-color: #666;
color:  var(--color-white);
}

.stages__btn-colorless:active{
background-color: #000;
color: var(--color-white);
}

/*questions*/

.question {
  margin-bottom: 99px;
}

.ui-accordion-header-icon{
  display: none;
}

.question__title {
  margin: 0;
  margin-bottom: 43px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.question__item {
  width: 100%;
  height: 100%;
  margin-top: -1px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid transparent;
  transition: color 0.2s linear;
  cursor: pointer;
}
.question__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.question__item:focus-within,
.question__item:hover {
  position: relative;
  color:var(--color-defolt);
  border-color: var(--color-defolt);
  z-index: 1;
}

.question__item-top {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: auto;
  padding: 30px 0;
  color: #333333;
  transition: color 0.2s linear;
}

.question__item-top:focus-within,
.question__item-top:hover {
  color:var(--color-defolt);
  outline: none;
}

.question__item-title {
  margin: 0;
  text-align: start;
  padding-right: 17px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.question__item-title--color {
  color: #CACACA;
}

.question__button {
  width: 50px;
  height: 50px;
}

.question__button svg {
  transition: transform .4s ease;
}

.ui-accordion-header-active svg {
  transform: rotate(45deg);
}

.question__button:focus-within {
  outline: none;
}

.question__item-top svg ellipse,
.question__item-top svg path {
  transition: fill .2s linear;
}

.question__item-top:focus-within svg ellipse,
.question__item-top:hover svg ellipse {
  fill:var(--color-defolt);
}

.question__item-top:focus-within svg path,
.question__item-top:hover svg path {
  fill:var(--color-white);
}

.question__descr {
  margin: 0;
  margin-bottom: 40px;
  max-width: 1003px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

/* footer */

.footer {
  background-color: #222222;
}

.footer__content {
  margin: 0 auto;
  max-width: 1920px;
  height: 594px;
  padding: 50px 75px;
  justify-content: space-between;
}

.footer__left {
  margin-right: 335px;
  padding-right: 15px;
  min-width: 266px;
}

.footer__logo:focus {
  outline-offset: 0;
}

.footer__logo-img {
  margin-bottom: 16px;
  width: 224px;
  height: 72px;
}

.footer__nav-list {
  margin-bottom: 90px;
}

.footer__nav-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  transition: color 0.2s linear;
}

.footer__nav-item:hover {
  color: var(--color-defolt);
}

.footer__nav-item:active {
  color: var(--color-active);
}

.footer__icon-item:not(:last-child) {
  margin-right: 25px;
}

.footer__icon-link svg path{
  transition: fill 0.2s linear;
}

.footer__icon-link:hover svg path{
  fill:var(--color-defolt);
}

.footer__icon-link:active svg path{
  fill:var(--color-active);
}

.footer__center {
  margin-right: auto;
  min-width: 570px;
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__form {
  flex-direction: column;
}

.footer__form-all {
  padding: 0;
  padding-left: 24px;
  margin-bottom: 25px;
  height: 60px;

  border: none;
  background-color: #414141;
  color: var(--color-white);
  transition-property: background, color;
  transition-duration: 0.3s, 0.2s;
  transition-timing-function: ease, linear;

  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.footer__form-all:focus,
.footer__form-all:hover,
.footer__form-all:active{
 outline: none;
 background-color: #666666;
}

.footer__form-text {
  height: 150px;
  margin-bottom: 33px;
  padding-top: 14px;
  resize: none;
}

.footer__form-wrap {
  align-items: center;
}

.footer__form-btn {
  margin-right: 22px;
  padding: 19px 52px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-defolt);
  color: var(--color-white);
}

.footer__input-checkbox {
  margin-right: 4px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.footer__input-checkbox+label {
  display: inline-flex;
  align-items: center;
  /* user-select: none; */
}

.footer__input-checkbox+label::before {
  content: '';
  display: inline-block;
  margin-right: 4px;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% 80%;
}

.footer__input-checkbox:checked+label::before {
  background-image: url(../img/footer-checkbox.svg);
}

.footer__input-checkbox:focus+label::before {
outline: 1px solid var(--color-defolt);
}

.footer__form-label {
  color: #CACACA;
  transition: color .2s ease;
}

.footer__form-label:hover {
  color: var(--color-defolt);
}

.footer__form-label:active {
  color: var(--color-active);
}

.footer__right {
  max-width: 378px;
}

.footer__right-descr {
  margin: 0;
  padding-top: 87px;
  padding-left: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}


